:root {
  --main-txt-color: #fff;
  --menu-txt-color: #202329;
  --bg-color: #202329;
  --secondary-color: rgb(255, 152, 0);
  --title-principal: #202329;
  --space: 20px;
  --border-radius: 3px;
  --border-color: #202329;
}
